.footer {
    margin-top:100px;
    background: #f5f5f5 none repeat scroll 0 0;
    border-top: 4px solid #286090;
    padding: 10px;
    position: relative;
}

.comment-left.thumbnail {
    padding: 0px;
    width: 25px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.panel.comment-left {
    position: relative;
}

.panel.comment-left > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel.comment-left > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel.comment-left > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.comment-right.thumbnail {
    padding: 0px;
    width: 50px;
    flex-direction: row;
    justify-content: flex-end;
}

.panel.comment-right {
    position: relative;
}

.panel.comment-right > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel.comment-right > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel.comment-right > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.container {
    width: 100% !important;
}

.btn.btn-nav {
    color: white;
    background: #2e6da4;
    border-radius: 0;
    border: 1px solid #286090;
}

.btn.btn-nav:hover {
    background: #2696a4;
}

.btn.btn-nav .badge {
    background: #ff7136b3;
}

.btn.btn-default .badge {
    background: #2e6da4;
}

.panel h3#comments {
    padding-left: 15px;
}

.panel .comment {
    padding-left: 15px;
    padding-right: 15px;
}

.panel .panel-body iframe {
    height: 545px !important;
    width: 100% !important;
}

@font-face {
    font-family: Arial, Helvetica, SansSerif;
}

.row {
    margin: 0px !important;
}

#toTop {
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px; /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
}

/*body {*/
    /*background: #b4b4b4;*/
/*}*/
/*h2 {*/
    /*background: #f5f5f5;*/
/*}*/

.radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

.edit-hints {
    padding-top:5px;
}

.edit-hints:before {
    display: block;
    border: 1px solid black;

}

.smiles a {
    height: 50px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
