.footer {
    background: #f2f2f2 none repeat scroll 0 0;
    border-top: 4px solid #6157fc;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 100%;
}
.footer_dv h4 {
    color: #6157fc;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_dv ul li:first-child {
    border-top: medium none;
    box-shadow: none;
}
.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}
.footer_dv p {
    color: #ff7136;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px;
    text-align: justify;
}

.comment-left.thumbnail {
    padding:0px;
}

.panel.comment-left {
    position:relative;
}

.panel.comment-left>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel.comment-left>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel.comment-left>.panel-heading:before{
   border-right-color:#ddd;
    border-width:8px;
}
.container {
   width:100%!important;
}

.btn.btn-nav {
    color: white;
    background: #2e6da4;
    border-radius: 0;
    border: 1px solid #286090;
}

.btn.btn-nav:hover {
    background: #2696a4;
}

.btn.btn-nav .badge {
    background: #ff7136b3;
}

.btn.btn-default .badge {
    background: #2e6da4;
}

body {
    max-width: 1000px;
    margin:auto;
}

/* link to comments */
.panel-footer a.comments {
    color: #333;
}
.panel-footer a.comments:focus, .panel-footer a.comments:hover {
    text-decoration: none;
}